// Theme Colors
@import "../base/variables";
@font-face {
  font-family: "Smoothy Rsz";
  src: url("../../assets/fonts/FontsFree-Net-Smoothy-Rsz-Regular.ttf");
}

.hero-section {
  margin-bottom: 50px;

  .slider-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0;
    background-color: #fdfdfd;

    .slider-wrapper {
      width: 50%;
      height: 100%;
      padding-bottom: 0;
      .item {
        outline: none;
        border: none;
        padding-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 100%;
        img {
          width: 80%;
          height: 80%;
          object-fit: cover;
        }
      }
    }

    .content {
      width: 45%;
      padding: 20px;
      align-self: flex-start;

      .inner-content {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h3 {
          margin-bottom: 10px;
          color: #9c9c9c;
          font-size: 50px;
          font-family: "Smoothy Rsz";
        }

        h1 {
          font-size: 40px;
          font-weight: bolder;
          margin-bottom: 20px;
          color: black;
          line-height: 1;
        }

        .social-box {
          display: flex;
          flex-direction: row;
          align-items: center;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: $ocean-blue;
            font-size: 28px;
            margin-right: 10px;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: $dark-turquoise-blue;
              color: white;
            }
          }
        }
      }
    }
  }

  .banner-bottom {
    position: relative;
    bottom: 5px;
    text-align: center;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-turquoise-blue;
    margin-top: 0;

    p {
      font-size: 20px;
      color: white;
      font-weight: 500;
      margin-right: 20px;

      a {
        color: $light-azure-blue;
        font-weight: bold;
        transition: color 0.3s ease;

        &:hover {
          color: $cerulean-blue;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .slider-container {
      flex-direction: column;
      align-items: center;
      width: 100%;

      .slider-wrapper {
        width: 100%;
        margin-bottom: 20px;

        .item {
          width: 100%;
          display: flex;
          img {
            width: 100%;
          }
        }
      }

      .content {
        width: 100%;
        padding: 10px;
        text-align: center;

        .inner-content {
          align-items: center;
          h3 {
            font-size: 32px;
          }

          h1 {
            font-size: 28px;
          }

          .social-box {
            display: flex;
            justify-content: center;
            a {
              width: 30px;
              height: 30px;
              font-size: 20px;
              margin-right: 5px;
            }
          }
        }
      }
    }

    .banner-bottom {
      p {
        justify-content: center;
        font-size: 16px;
        padding-left: 20px;
      }
    }
  }
}

//************************************ JOB Search Form **********************************************//
//************************************ JOB Search Form **********************************************//
//************************************ JOB Search Form **********************************************//

.job-search-form {
  position: relative;
  bottom: 130px;
  left: 80px;
  margin: 20px;
  padding: 20px;
  width: 80%;
  background-color: $light-azure-blue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  .form-title {
    margin-bottom: 15px;
    font-size: 24px;
    margin: 0;
    color: $deep-ocean-blue;
  }

  .form-holder-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;

    .form-row {
      width: 75%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .form-group {
        flex: 1;
        display: flex;
        flex-direction: column;
     

        .form-control,
        .fake-select {
          width: 90%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin-bottom: 10px;
        }

        .sub-title-note {
          font-size: 12px;
          color: #414040;
        }
      }
    }

    .form-btn-wrap {
      width: 25%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .btn {
        width: 80%;
        padding: 10px 20px;
        background-color: $deep-ocean-blue;
        color: #fff;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0056b3;
        }
      }

      .more-filters-opener {
        margin-left: 10px;
        font-size: 14px;
        font-weight: bold;
        color: $ocean-blue;
        text-decoration: none;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: white;
        }
      }
    }
  }
}
