// _variables.scss

// Theme Colors
$deep-ocean-blue: #062c58;
$ocean-blue: #006088;
$dark-turquoise-blue: #006089;
$cerulean-blue: #248eb5;
$light-azure-blue: #44b5c0;

// Other Variables
// Define other variables as needed (e.g., typography, spacing, etc.)
